# Dependencies
node_modules
.pnp
.pnp.js

# Production build
dist
dist-ssr

# Python env
.venv
venv
__pycache__

# Local env & logs
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db
